// Details

.content-activity-detail {
    height: 100%;
}

.activity__media-list {
    position: relative;
    margin-bottom: 40px;
    .is-ipad & {
        margin-bottom: 20px;
    }
}

.carousel {
    height: 610px;
    background-position: center center;
    .is-ipad & {
        height: 300px;
    }
}

.carousel__item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.carousel__video {
    width: 100%;
    height: 100%;
}

.carousel-thumbnails {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px 33px;
    background: rgba(#00535d, 0.5);
}

.carousel-thumbnails__item {
    box-sizing: content-box; // Make it easier for border width changes
    position: relative;
    float: left;
    border: 1px solid $color-main;
    margin: 4px 7px;
    width: 70px;
    height: 40px;
    background-position: center center;
    &.active {
        border-width: 5px;
        margin: 0 2px;
    }
}

.carousel__caption {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
    color: #FFF;
    padding: 8px 40px;
    background: rgba(#00535d, 0.7);
}

.activity__body {
    position: relative;
    height: 900px;
    .is-ipad & {
        height: auto;
        margin-bottom: 20px;
    }
}

.activity__main {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    .has-sidebar & {
        width: 700px;
        padding-right: 0;
        border-bottom-right-radius: 10px;
        .is-ipad & {
            width: 530px;
        }
    }
    .is-ipad & {
        height: auto;
        min-height: 509px;
    }
}

.vendor {
    margin-bottom: 40px;
    .is-ipad & {
        margin-bottom: 10px;
    }
}

.vendor__logo {
    float: left;
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 20px 10px 0;
    .is-ipad & {
        width: 50px;
        height: 50px;
    }
}

.vendor__name {
    text-transform: uppercase;
    color: $color-main;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 20px;
    .is-ipad & {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.vendor__description {
    font-size: 18px;
    font-family: $font-alt;
    .is-ipad & {
        font-size: 11px;
    }
}

.details {
    height: 100%;
    background-color: #ededed;
    margin-left: -40px;
    margin-right: -40px;
    padding: 20px 40px;
    .has-sidebar & {
        border-top-right-radius: 10px;
        padding-right: 20px;
        margin-right: 0;
    }
    .is-ipad & {
        padding: 10px 40px;
    }
}

.details__heading {
    text-transform: uppercase;
    color: $color-main;
    font-size: 36px;
    margin-bottom: 10px;
    .is-ipad & {
        font-size: 18px;
    }
}

.details__content {
    font-family: $font-alt;
    font-size: 16px;
    margin-bottom: 20px;
    .is-ipad & {
        font-size: 11px;
        margin-bottom: 10px;
    }
}

.packages__heading {
    text-transform: uppercase;
    color: $color-main;
    font-size: 28px;
    margin-bottom: 5px;
    .is-ipad & {
        font-size: 14px;
    }
}

.package__list {
    border-top: 1px solid #CCC;
    margin: 0 -40px;
    .has-sidebar & {
        margin-right: -20px;
    }
}

.package__item {
    font-family: $font-alt;
    border-bottom: 1px solid #CCC;
    padding: 10px 40px;
    &:nth-child(odd) {
        background-color: #f7f7f8;
    }
    .package__name {
        line-height: 2;
        .is-ipad & {
            line-height: 1.6;
        }
    }
    .has-sidebar & {
        padding-right: 20px;
    }
}

.package__learn-more {
    float: right;
    background-color: #6cbe5a;
    color: #FFF;
    border-radius: 5px;
    line-height: 2;
    padding: 0 10px;
}

.activity__sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: $color-sidebar-text;
    background-color: $color-sidebar-bg;
    .is-ipad & {
        width: 218px;
    }
}

.widget {
    padding: 20px;
}

.widget__heading {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    .is-ipad & {
        font-size: 16px;
        margin-bottom: 10px;
    }
}


.go-back {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #0a444f;
    text-transform: uppercase;
    color: $color-main;
    line-height: 40px;
    padding: 0 40px;
    font-size: 21px;
    .is-ipad & {
        display: none;
    }
}


.table-contact {
    width: 100%;
    td {
        &:first-child {
            width: 30%;
        }
    }
}

// Go Pro ad

.widget-gopro {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: image-url('gopro/gopro4.png') center center no-repeat;
    width: 320px;
    height: 303px;
    .is-ipad & {
        width: 178px;
        height: 169px;
        background-size: 100%;
    }
}
