// List

.content-activity-list {
    padding: 40px $content-padding;
    background-color: $color-dark;
    min-height: 100%;
    .is-ipad & {
        padding: 20px 34px;
    }
}

.activity-group {
    overflow: hidden;
    margin-bottom: 20px;
    .is-ipad & {
        margin-bottom: 0;
    }
}

.activity-group__name {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color-main;
    font-size: 34px;
    // Should be font weight 53
    .activity-group--north-shore & {
        color: $color-north-shore;
    }
    .activity-group--resort & {
        color: $color-resort;
    }
    .is-ipad & {
        font-size: 26px;
        margin-bottom: 10px;
    }
}

.activity-group__list {
    margin: 0 -10px;
}

.activity-item {
    position: relative;
    float: left;
    width: 176px;
    height: 226px;
    margin: 0 10px 20px;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: $color-main;
    padding: 3px;
    border-radius: 5px;
    .is-ipad & {
        width: 120px;
        height: 132px;
    }
}

.activity-item__poster {
    display: block;
    width: 100%;
    height: 164px;
    background-color: #FFF;
    background-size: 100%;
    .is-ipad & {
        height: 100px;
    }
}

.activity-item__icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: -20px auto 0;
    background-color: #FFF;
    border: 3px solid $color-main;
    border-radius: 50%;
    svg {
        fill: $color-resort;
        .activity-group--north-shore & {
            fill: $color-north-shore;
        }
    }
    .is-ipad & {
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }
}

.activity-item__name {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFF;
    font-size: 18px; // original 21px
    text-transform: uppercase;
    .is-ipad & {
        bottom: 5px;
        font-size: 11px;
    }
}

.badge-diy {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 54px;
    height: 54px;
    background: image-url('icon-diy.png');
    background-size: 100%;
    .activity-group--resort & {
        background-image: image-url('icon-diy-red.png');
    }
    .activity-group--north-shore & {
        background-image: image-url('icon-diy-green.png');
    }
    .is-ipad & {
        width: 27px;
        height: 27px;
    }
}
