// Events

.event {
    overflow: hidden;
    padding: 25px 40px 24px;
    border-bottom: 1px solid #999;
    background-color: #FFF;
    &:nth-child(2n-1) {
        background-color: #EEE;
    }
    .is-ipad & {
        padding-top: 20px;
        padding-bottom: 19px;
    }
}

.event__photo {
    float: left;
    img {
        display: block;
        width: 180px;
        height: 180px;
        margin-right: 30px;
        .is-ipad & {
            width: 90px;
            height: 90px;
        }
    }
}

.event__details {
    margin-left: 210px;
    .is-ipad & {
        margin-left: 120px;
    }
}

.event__name {
    color: $color-main;
    font-size: 30px;
    margin-bottom: 8px;
    .is-ipad & {
        font-size: 15px;
    }
}

.event__information {
    overflow: hidden;
    margin-bottom: 8px;
    font-family: $font-alt;
    font-size: 18px;
    text-transform: uppercase;
    span {
        color: $color-main;
        font-family: $font-alt-bold;
        font-size: 20px;
        text-transform: none;
        .is-ipad & {
            font-size: 13px;
        }
    }
    .is-ipad & {
        font-size: 12px;
    }
}

.event__time {
    float: left;
}

.event__location {
    float: left;
    padding-left: 36px;
}

.event__description {
    font-family: $font-alt;
    margin-bottom: 8px;
    padding-right: 36px;
}









