// Live-Feeds

$ts-info-h: 98px;
$ipad-info-h: 60px;

.instagram__info {
    background-color: #005261;
    font-size: 26px;
    line-height: $ts-info-h;
    text-align: center;
    color: #FFF;
    overflow: hidden;
    font-family: $font-alt;
    padding: 0 40px;
    span {
        color: #19BAD1;
    }
    .is-ipad & {
        font-size: 14px;
        line-height: $ipad-info-h;
    }
}

.instagram__list {
    overflow: hidden;
}

$ts-insta-w: $ts-w/5;
$ts-insta-w--large: $ts-insta-w * 2;

$ipad-insta-w: 192px;
$ipad-insta-w--large: 384px;

.instagram__item {
    float: left;
    width: $ts-insta-w;
    height: $ts-insta-w;
    overflow: hidden;
    img {
        display: block;
    }
    .is-ipad & {
        width: $ipad-insta-w;
        height: $ipad-insta-w;
    }
}

.instagram__item--large {
    width: $ts-insta-w--large;
    height: $ts-insta-w--large;
    .is-ipad & {
        width: $ipad-insta-w--large;
        height: $ipad-insta-w--large;
    }
}

.instagram__item--right {
    float: right;
}
