// Class automatically added to DOM
.angular-leaflet-map {
	background-color: #19bad1;
    height: $ts-content-h;
    .is-ipad & {
        height: $ipad-content-h;
    }
}

.zoom {
    position: absolute;
    color: #FFF;
    font-size: 40px;
    right: 40px;
    bottom: 40px;
}

.zoom__icon {
    display: block;
    width: 65px;
    height: 65px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    .is-ipad & {
        width: 30px;
        height: 30px;
    }
}

.zoom__icon--in {
    background-image: image-url('icon-zoom-in.svg');
}

.zoom__icon--out {
    background-image: image-url('icon-zoom-out.svg');
}
