.content-media-list {
    background-color: $color-dark;
    height: 100%;
}

.media-inner {
    padding: 40px 60px;
    .is-ipad & {
        padding: 20px 34px;
    }
}

.media-group {
    margin-bottom: 20px;
}

.media-group__name {
    text-transform: uppercase;
    color: #FFF;
    font-size: 34px;
    margin-bottom: 20px;
    color: $color-main;
    .is-ipad & {
        font-size: 26px;
        margin-bottom: 10px;
    }
}

.media-group__list {
    overflow: hidden;
    margin: 0 -10px;
}

.media-item {
    float: left;
    margin: 0 10px 20px;
    width: 176px;
    height: 176px;
    background-repeat: no-repeat;
    background-position: center center;
    .is-ipad & {
        width: 100px;
        height: 100px;
    }
}


// Media detail

.media {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.media__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 200;
}

.media__video {
    width: 100%;
    height: 100%;
}

.media__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 $content-padding;
    background-color: rgba($color-main, 0.5);
    height: 120px;
    .is-ipad & {
        height: 60px;
    }
}

.media__copy {
    position: absolute;
    top: 20px;
    width: 690px;
    color: #FFF;
    font-size: 26px;
    .is-ipad & {
        top: 10px;
        font-size: 14px;
    }
}

.media__name {
    text-transform: uppercase;
    display: inline;
}

.media__caption {
    font-family: $font-alt;
    display: inline;
}

.media-grid {
    position: absolute;
    bottom: 20px;
    right: 60px;
    width: 80px;
    height: 80px;
    background: image-url('media-grid.svg') center center no-repeat;
    background-size: 100% auto;
    .is-ipad & {
        bottom: 10px;
        width: 40px;
        height: 40px;
    }
}
