.modal {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: $ts-nav-h;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .is-ipad & {
        bottom: $ipad-nav-h;
    }
}

.modal__inner {
    display: inline-block;
    position: relative;
    width: 700px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    .is-ipad & {
        width: 600px;
    }
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: url('../images/close.svg');
    background-size: 100%;
    .is-ipad & {
        width: 12px;
        height: 12px;
    }
}

.modal__heading {
    text-transform: uppercase;
    border-bottom: 1px solid #CCC;
    color: $color-main;
    font-size: 36px;
    margin-bottom: 10px;
    .is-ipad & {
        font-size: 18px;
    }
}

// Modal package

.package__description {
    font-family: $font-alt;
    margin-bottom: 20px;
}

.price__heading {
    text-transform: uppercase;
    color: $color-main;
    font-size: 24px;
    margin-bottom: 10px;
}

.price__list {
    font-family: $font-alt;
}

.price__item {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #CCC;
    margin-bottom: 0.5em;
    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.price__price {
    float: right;
}

.price__description {
    margin-top: 1em;
}

// Modal activities

.m-activity-item {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.m-activity-vendor-logo {
    float: left;
    width: 160px;
    text-align: center;
}

.m-activity-body {
    margin-left: 180px;
}

.m-activity-vendor-name {
    text-transform: uppercase;
    font-size: 30px;
    color: $color-main;
    .is-ipad & {
        font-size: 24px;
    }
}

.m-activity-details {
    font-family: $font-alt;
}


// Instagram

.instagram-picture {
    margin-bottom: 20px;
    img {
        display: block;
        margin: 0 auto;
    }
}

.instagram-username {
    font-weight: bold;
    color: $color-main;
}

.instagram-caption {
    font-family: $font-alt;
}


// Gopro

.modal-section {
    overflow: hidden;
    font-family: $font-alt;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
    p.margin {
        margin-bottom: 1em;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.modal-section__heading {
    text-transform: uppercase;
    font-family: $font-main;
    color: $color-main;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1;
    .is-ipad & {
        font-size: 15px;
    }
}

.pic-surfer {
    margin-bottom: 20px;
}

.modal-section__image {
    float: left;
    width: 130px;
    height: 130px;
    margin-right: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    .is-ipad & {
        width: 75px;
        height: 75px;
    }
}

.modal-section__image--right {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.logo-gopro {
    background-image: image-url('gopro/logo-gopro.png');
}

.logo-ns {
    background-image: image-url('gopro/logo-ns.png');
}

.pic-hero3 {
    background-image: image-url('gopro/hero3.jpg');
    .is-ipad & {
        width: 100px;
        height: 100px;
    }
}

.table-gopro-pricing {
    width: 340px;
    td {
        font-family: $font-alt-bold;
        color: $color-main;
    }
}
