.nav-screen {
    position: absolute;
    width: 100%;
    height: $ts-nav-h;
    bottom: 0;
    background: image-url('nav/nav-bg-off.png') center 10px repeat-x;
    a {
        float: left;
        width: 180px; // Work for 6 items
        height: 100%;
        text-align: center;
        color: $color-main;
        border-right: 1px solid #444;
        &.active {
            background: image-url('nav/nav-bg-on.png') center 10px repeat-x;
            .nav-item__label {
                color: $color-alt;
            }
            &:before {
                background-color: $color-alt;
            }
        }
        &:before {
            content: '';
            display: block;
            height: 10px;
            background-color: $color-main;
        }
        &:last-child {
            border-right: 0;
        }
        .is-ipad & {
            width: 128px;
        }
    }
    a + a {
        border-left: 1px solid $color-sep;
    }
    .is-ipad & {
        height: $ipad-nav-h;
    }
}

.nav-item__icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    margin: 0 auto;
    width: 135px * 0.8;
    height: 140px;
    .is-ipad & {
        width: 55px;
        height: 70px;
    }
}

.nav-item__label {
    display: block;
    text-align: center;
    color: $color-main;
    font-size: 21px;
    text-transform: uppercase;
    .is-ipad & {
        font-size: 11px;
    }
}


@mixin nav-item($section) {
    .nav-item--#{$section} {
        .nav-item__icon {
            background-image: image-url('nav/#{$section}-off.svg');
        }
        &.active {
            .nav-item__icon {
                background-image: image-url('nav/#{$section}-on.svg');
            }
        }
    }
}

@include nav-item('activities');
@include nav-item('oahu-map');
@include nav-item('resort-map');
@include nav-item('gallery');
@include nav-item('weather');
@include nav-item('events');
@include nav-item('instagram');
