.screensaver__overlay {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    .is-ipad & {
        padding-top: 100px;
    }
}

.touch-start {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    background: image-url('touch-start-bg.png') center center no-repeat;
    background-size: contain;
    color: $color-alt;
    line-height: 192px;
    font-size: 46px;
    .is-ipad & {
        line-height: 100px;
        font-size: 23px;
    }
}

.screensaver__carousel {
    height: 1720px; // Has to be absolute, no height inheritance because of rn-carousel container
    font-size: 0; // Prevent spacing between inline-blocks
    .is-ipad & {
        height: 924px;
    }
}

.screensaver__item {
    height: 100%;
    background-position: center center;
    background-size: cover;
}
