$ts-w: 1080px;
$ts-h: 1920px;
$ts-header-h: 110px;
$ts-nav-h: 200px;
$ts-content-h: $ts-h - $ts-header-h - $ts-nav-h;

$ipad-w: 768px;
$ipad-h: 1024px - 20px; // Take iPad status bar (20px) into account
$ipad-header-h: 55px;
$ipad-nav-h: 100px;
$ipad-content-h: $ipad-h - $ipad-header-h - $ipad-nav-h;

$font-main: 'Knockout';
$font-alt: 'ProximaNova-Regular';
$font-alt-bold: 'ProximaNova-Semibold';

$color-main: #19bad1;
$color-alt: #00ffff;

$color-dark: #1e474e;

$color-sep: #357e88;

$content-padding: 60px;

$color-sidebar-bg: #15bfda;
$color-sidebar-text: #005261;

$color-resort: #F05E58;
$color-north-shore: #B6D333;

