// Hide scrollbars and cursor if HD

@media only screen and (width : 1080px) and (height : 1920px) and (orientation : portrait),
only screen and (width : 1920px) and (height : 1080px) and (orientation : landscape) {
    html {
        overflow: hidden;
    }
    * {
        cursor: none;
    }
}

// Prevent image dragging

img,
a {
    -webkit-user-drag: none;
}

// Prevent element selection

body {
    -webkit-user-select: none;
    user-select: none;
}