@import "compass/reset";
@import "compass";
@import "settings";
@import "nav";
@import "modal";
@import "touchscreen";
@import "screensaver";
@import "activity-list";
@import "activity-detail";
@import "maps";
@import "media";
@import "events";
@import "instagram";
// @import "debug";

// Fonts

@include font-face('Knockout', font-files('Knockout-50.otf'));
@include font-face('ProximaNova-Regular', font-files('ProximaNova-Regular.otf'));
@include font-face('ProximaNova-Light', font-files('ProximaNova-Light.otf'));
@include font-face('ProximaNova-Semibold', font-files('ProximaNova-Semibold.svg', 'ProximaNova-Semibold.otf'));
// @include font-face('ProximaNova-Bold', font-files('ProximaNova-Semibold.svg', 'ProximaNova-Semibold.otf'));

// General

* {
    box-sizing: border-box;
}

body {
    background-color: #999;
    font-family: $font-main;
    font-size: 16px;
    line-height: 1.4;
    &.is-ipad {
        font-size: 11px;
    }
}

a {
    color: lightblue;
    text-decoration: none;
}

img {
    max-width: 100%;
}

strong {
    font-family: $font-alt-bold;
}

.screen {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background-color: #FFF;
    .is-ts & {
        width: $ts-w;
        height: $ts-h;
    }
    .is-ipad & {
        width: $ipad-w;
        height: $ipad-h;
    }
}

.content {
    position: absolute;
    top: 0;
    width: 100%;
    .is-ts & {
        bottom: $ts-nav-h;
    }
    .is-ipad & {
        overflow-y: overlay;
        -webkit-overflow-scrolling: touch;
        bottom: $ipad-nav-h;
    }
}

%corner {
    position: absolute;
    z-index: 1001; // Above all, including the modal
    width: 80px;
    height: 80px;
    .is-ipad & {
        width: 40px;
        height: 40px;
    }
}

.corner-top-left {
    @extend %corner;
    top: 0;
    left: 0;
}

.corner-top-right {
    @extend %corner;
    top: 0;
    right: 0;
}

.page-header {
    background: image-url('wood-header.jpg');
    padding: 0 40px;
    color: $color-main;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 110px;
    .is-ipad & {
        font-size: 30px;
        line-height: 55px;
        padding: 0 34px;
    }
}

.badge-video {
    width: 100%;
    height: 100%;
    background: image-url('icon-youtube-24.png') center center no-repeat;
    .is-ipad & {
        background-size: 12px;
    }
}

.badge-video--large {
    background-image: image-url('icon-youtube-64.png');
    .is-ipad & {
        background-size: 32px;
    }
}
