<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>TBR Guidepost</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.label/dist/leaflet.label.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="guidepostApp" ng-class="'is-' + config.device" screensaver no-context-menu>

    <div class="screen">

      <a ui-sref="home" class="corner-top-left"></a>
      <a href="#" ng-click="reload()" class="corner-top-right"></a>

      <div class="content" ui-view></div>

      <!-- Modal -->
      <div ng-controller="ModalCtrl" ng-show="modal.isActive()" class="modal" ng-click="modal.close()" ng-cloak>
        <div class="modal__inner" ng-click="$event.stopPropagation()">
          <ng-include src="modal.template"></ng-include>
          <div class="modal__close" ng-click="modal.close()"></div>
        </div>
      </div>

      <nav class="nav-screen" ng-controller="NavScreenCtrl">
        <a ui-sref="activity_list" ng-class="{active: isStateActive('activity')}" class="nav-item--activities">
          <div class="nav-item__icon"></div>
          <div class="nav-item__label">Activities</div>
        </a>
        <a ui-sref="satellite_map" ng-class="{active: isStateActive('satellite-map')}" class="nav-item--oahu-map">
          <div class="nav-item__icon"></div>
          <div class="nav-item__label">Oahu Map</div>
        </a>
        <a ui-sref="birdeye_map" ng-class="{active: isStateActive('birdeye-map')}" class="nav-item--resort-map">
          <div class="nav-item__icon"></div>
          <div class="nav-item__label">Bird's-eye View</div>
        </a>
        <a ui-sref="media_list" ng-class="{active: isStateActive('gallery')}" class="nav-item--gallery">
          <div class="nav-item__icon"></div>
          <div class="nav-item__label">Gallery</div>
        </a>
<!--         <a ui-sref="weather" ng-class="{active: isStateActive('weather')}" class="nav-item-weather">
          <div class="nav-item-icon"></div>
          <div class="nav-item-label">Weather</div>
        </a> -->
        <a ui-sref="event_list" ng-class="{active: isStateActive('events')}" class="nav-item--events">
          <div class="nav-item__icon"></div>
          <div class="nav-item__label">Events</div>
        </a>
        <a ui-sref="instagram_list" ng-class="{active: isStateActive('instagram')}" class="nav-item--instagram">
          <div class="nav-item__icon"></div>
          <div class="nav-item__label">Instagram</div>
        </a>
      </nav>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      var pusher = new Pusher('420327350cd867d46ffe');
      var channel = pusher.subscribe('channel_guidepost');
      channel.bind('reload', function() {
        window.location.reload(true);
      });
    </script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <!-- endbower -->
    <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="bower_components/Leaflet.label/dist/leaflet.label.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/activity-list.js"></script>
        <script src="scripts/controllers/activity-detail.js"></script>
        <script src="scripts/services/section.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/controllers/nav-screen.js"></script>
        <script src="scripts/controllers/modal.js"></script>
        <script src="scripts/services/activity.js"></script>
        <script src="scripts/services/media.js"></script>
        <script src="scripts/controllers/media-list.js"></script>
        <script src="scripts/controllers/media-detail.js"></script>
        <script src="scripts/directives/backimg.js"></script>
        <script src="scripts/services/modal.js"></script>
        <script src="scripts/directives/screensaver.js"></script>
        <script src="scripts/directives/nocontextmenu.js"></script>
        <script src="scripts/controllers/satellite-map.js"></script>
        <script src="scripts/controllers/birdeye-map.js"></script>
        <script src="scripts/services/event.js"></script>
        <script src="scripts/controllers/event-list.js"></script>
        <script src="scripts/controllers/instagram-list.js"></script>
        <script src="scripts/services/marker.js"></script>
        <script src="scripts/services/map.js"></script>
        <!-- endbuild -->
</body>
</html>
