<div class="content-activity-list">
  <div class="activity-group" ng-class="'activity-group--' + group.slug" ng-repeat="group in activity.groups">
    <div class="activity-group__name">{{ group.name }}</div>
    <div class="activity-group__list">
      <a ng-click="showType(name, list)" class="activity-item" ng-repeat="(name, list) in group.list">
        <div class="badge-diy" ng-if="list[0].group.is_diy"></div>
        <div class="activity-item__poster" back-img="{{ list[0].group.poster }}"></div>
        <div class="activity-item__icon">
          <ng-include src="list[0].group.icon"></ng-include>
        </div>
        <div class="activity-item__name">{{ list[0].group.name }}</div>
      </a>
    </div>
  </div>
</div>
