<div class="content-activity-detail">

  <div class="page-header">{{ activity.name }}&nbsp;</div>

  <div class="activity__media-list">
    <!-- overlay prevents Youtube click-through -->
    <div class="media__overlay"></div>
    <ul rn-carousel rn-carousel-index="_media.index" class="carousel">
      <li class="carousel__item" ng-repeat="media in activity.medias" back-img="{{ media.image }}">
        <youtube-video class="carousel__video" ng-if="media.type == 'video'" video-id="media.youtube_id" player-vars="videoParams"></youtube-video>
        <div class="carousel__caption" ng-show="media.caption">{{ media.caption }}</div>
      </li>
    </ul>
    <div class="carousel-thumbnails">
      <a class="carousel-thumbnails__item" back-img="{{ media.thumb }}" ng-click="_media.index=$index" ng-class="{active: (_media.index==$index), 'is-video': (media.type == 'video')}" ng-repeat="media in activity.medias">
        <div class="badge-video" ng-if="media.type == 'video'"></div>
      </a>
    </div>
  </div>

  <div class="activity__body" ng-class="{'has-sidebar': activity.show_sidebar}">

    <div class="activity__main">
      <div class="vendor">
        <div class="vendor__logo" ng-if="activity.vendor.logo" back-img="{{ activity.vendor.logo }}"></div>
        <div class="vendor__name">{{ activity.vendor.name }}</div>
        <div class="vendor__description">{{ activity.vendor.description }}</div>
      </div>
      <div class="details">
        <div class="details__heading">Details</div>
        <div class="details__content">{{ activity.details }}</div>
        <div class="packages__heading">{{ activity.packages_label || 'Packages' }}</div>
        <div class="package__list">
          <div class="package__item" ng-repeat="package in activity.packages">
            <div class="package__learn-more" ng-click="packageMore(package)">Learn More</div>
            <div class="package__name">{{ package.name }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="activity__sidebar" ng-if="activity.show_sidebar">
      <div class="widget">
        <div class="widget__heading">Contact info</div>
        <div class="widget__content">
          <table class="table-contact">
            <tr ng-if="activity.vendor.phone">
              <td>Phone</td>
              <td>{{ activity.vendor.phone }}</td>
            </tr>
            <tr ng-if="activity.vendor.email">
              <td>Email</td>
              <td>{{ activity.vendor.email }}</td>
            </tr>
            <tr ng-if="activity.vendor.website">
              <td>Website</td>
              <td>{{ activity.vendor.website }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="widget" ng-if="activity.location">
        <div class="widget__heading">Location</div>
        <div class="widget__content">
          {{ activity.location }}
        </div>
      </div>

      <div class="widget-gopro" ng-click="openGoproModal()"></div>
    </div>

  </div>


  <a ui-sref="activity_list" class="go-back">
    « Back to activity list
  </a>

</div>
