<div class="page-header">Special Events</div>
<div ng-repeat="evt in event.objects" class="event">
  <div class="event__photo">
    <img ng-src="{{ evt.poster }}" />
  </div>
  <div class="event__details">
    <div class="event__name">{{ evt.name }}</div>
    <div class="event__information">
      <div class="event__time">
        When <span>{{ evt.start_datetime|date:"MMM d, y 'at' h:mma" }}</span>
      </div>
      <div class="event__location">
        Where <span>{{ evt.location }}</span>
      </div>
    </div>
    <div class="event__description">{{ evt.description }}</div>
  </div>
</div>
