<div class="page-header">Instagram</div>

<div class="instagram__info">
	Tag your public posts with <span>#TurtleBayResort</span> to see them on this screen
</div>
<div class="instagram__list">
  <div ng-repeat="picture in instagramFeed.data" class="instagram__item" ng-class="{'instagram__item--large': isItemLarge($index), 'instagram__item--right': isItemRight($index)}">
    <img ng-src="{{ picture.images.standard_resolution.url }}" alt="" ng-click="showDetail(picture)" />
  </div>
</div>
