<div class="media" back-img="{{ media.image }}">
  <div class="media__overlay"></div>
  <youtube-video class="media__video" ng-if="media.type == 'video'" video-id="media.youtube_id" player-vars="videoParams"></youtube-video>

  <div class="media__footer">

    <div class="media__copy">
      <div class="media__name" ng-show="media.name">{{ media.name }}.</div>
      <div class="media__caption">{{ media.caption }}</div>
    </div>

    <a ui-sref="media_list" class="media-grid"></a>
  </div>
</div>
