<div class="content-media-list">

  <div class="page-header">Gallery</div>

  <div class="media-inner">

    <div class="media-group">
      <div class="media-group__name">Photos</div>
      <div class="media-group__list">
        <a ui-sref="media_detail({mediaId: photo.id})" class="media-item" ng-repeat="photo in media.photos" back-img="{{ photo.thumb }}"></a>
      </div>
    </div>

    <div class="media-group">
      <div class="media-group__name">Videos</div>
      <div class="media-group__list">
        <a ui-sref="media_detail({mediaId: video.id})" class="media-item" ng-repeat="video in media.videos" back-img="{{ video.thumb }}">
          <div class="badge-video badge-video--large"></div>
        </a>
      </div>
    </div>

  </div>

</div>
