<div class="modal-activity-list">
  <div class="modal__heading">{{ modal.obj.name }}</div>
  <div class="m-activity-item" ng-repeat="activity in modal.obj.list" ui-sref="activity_detail({activityId: activity.id})">
    <div class="m-activity-vendor-logo">
      <img ng-src="{{ activity.vendor.logo }}" />
    </div>
    <div class="m-activity-body">
      <div class="m-activity-vendor-name">{{ activity.vendor.name }}</div>
      <div class="m-activity-details">{{ activity.details }}</div>
    </div>
  </div>
</div>
