<div class="modal-instagram">
  <div class="instagram-picture">
    <img ng-src="{{ modal.obj.picture.url }}" />
  </div>
  <div class="instagram-caption" ng-show="modal.obj.caption">
    <span class="instagram-username">{{ modal.obj.username }}</span>:
    {{ modal.obj.caption }}
  </div>
</div>
