<div class="modal-package">
  <div class="modal__heading">{{ modal.obj.name }}</div>
  <div class="package__description">{{ modal.obj.description }}</div>
  <div class="price__list">
    <div class="price__item" ng-repeat="price in modal.obj.prices">
      <div class="price__price">{{ price.price|currency }}</div>
      <div class="price__name">{{ price.name }}</div>
      <div class="price__description" ng-if="price.description">{{ price.description }}</div>
    </div>
  </div>
</div>
