<div class="modal-gopro">
  <div class="modal__heading">GoPro Hero 4 Demo Program</div>

  <img src="images/gopro/surfer.jpg" class="pic-surfer" />

  <div class="modal-section">
    <div class="modal-section__image logo-gopro"></div>
    <p>GoPro high-definition personal cameras are compact, lightweight, and
rugged—great for making action videos. Because they can be worn or
mounted in unusual places, they’re ready to go where you do. And
because they’re waterproof to 131 feet, they were born to play at Turtle
Bay. We’ve made them available to guests on a complimentary basis so
you can document your North Shore adventures.</p>
  </div>

  <div class="modal-section">
    <div class="modal-section__image logo-ns"></div>
    <div class="modal-section__heading">Demos Available at the North Shore Watershed</div>
    <p class="margin"><strong>The GoPro Hero 4 Demo Program is available at no charge to
guests who present photo ID at checkout. You can use it for a
24-hour period only; it must be returned the following day by 9 PM.</strong></p>
    <p>North Shore Watershed staff will talk you through basic use, and if you don’t already own a
HIGH SPEED MICRO SD CARD (10 Rating), you must purchase one in order to use the GoPro
Hero 4. North Shore Watershed sells Micro SD Cards: 64 GB-$79.99 or the 32 GB-$49.99.
They can also provide a Charging Cable, WiFi remote, Floaty Backdoor, Chesty, or Wrist
Housing (as available).</p>
  </div>

  <div class="modal-section">
    <div class="modal-section__image modal-section__image--right pic-hero3" />
    <div class="modal-section__heading">Go Home with a Gopro</div>
    <p class="margin">If you have so much fun with GoPro you can’t
bear to part with it, North Shore Watershed has
cameras and accessories for sale:</p>
    <table class="table-gopro-pricing">
      <tr>
        <td>GoPro Hero 4 Black Surf Edition</td>
        <td>$399.99</td>
      </tr>
      <tr>
        <td>GoPro Hero 4 Silver Edition</td>
        <td>$299.99</td>
      </tr>
    </table>
  </div>
</div>
