<div class="page-header">Oahu Map</div>

<leaflet defaults="map.defaults" markers="marker.markers" layers="map.layers" center="map.center"></leaflet>

<div class="zoom">
  <a class="zoom__icon zoom__icon--in" ng-click="_map.zoomIn()"></a>
  <a class="zoom__icon zoom__icon--out" ng-click="_map.zoomOut()"></a>
</div>
