<a ui-sref="activity_list" class="screensaver__overlay">
  <div class="touch-start">Touch screen to get started</div>
</a>

<ul rn-carousel rn-carousel-auto-slide="7" class="screensaver__carousel">
  <li class="screensaver__item" back-img="'images/screensavers/screensaver-vans-triple-crown-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/golf-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/horseback-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/humpback-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/kawela-1-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/kawela-2-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/kayak-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/keiki-play-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/monk-seal-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/paradise-heli-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/screensaver-bike.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/screensaver-dolphin.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/screensaver-paradise-helicopters-gopro.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/screensaver-spa.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/sup-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/surf-2-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/surf-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/tennis-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/turtle-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/turtle-bay-1-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/turtle-bay-2-1848.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/gopro/gopro1.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/gopro/gopro2.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/gopro/gopro3.jpg'"></li>
  <li class="screensaver__item" back-img="'images/screensavers/gopro/gopro4.jpg'"></li>
</ul>
